body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.presentation {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100vh;
  min-height: 750px;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-content: space-around;
}

@media (max-width: 600px) {
  .presentation {
    display: block;
    height: auto;
  }
}

.presentation h1 {
  flex: 1 100%;
}

.presentation h2 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 15px;
}

.presentation-hourly {
  flex: 1 100%;
  margin: 0 5%;
}

.presentation-key-numbers {
  flex: 1 100%;
  margin: 0 5%;
  display: flex;
}

.presentation-key-number {
  flex: 1;
}

.presentation-key-number-value {
  font-size: 60px;
  font-weight: bold;
}

.presentation-key-number-desc {
  margin-top: 20px;
  font-size: 13px;
}

.presentation-show-more {
  flex: 1 100%;
  font-size: 16px;
}

.more-data {
  padding: 10px;
}

h1 {
  margin: 0;
  font-size: 34px;
}

h2 {
  margin: 0;
  font-size: 22px;
}

p {
  font-size: 16px;
}

.et-graph {
  max-width: 700px;
}
