body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.columns {
  display: flex;
  overflow: hidden;
}

.columns > div {
  flex: 1;
  flex-direction: column;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  font-size: 1.1em;
}

.header {
  display: flex;
}

.header > p {
  margin: 0;
  flex-grow: 1;
  font-size: 1.5em;
  text-align: right;
}

@media (max-width: 600px) {
  .columns {
    display: block;
  }
}
