name: Build report app
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: pnpm install
      - run: pnpm --filter ./report build
      - name: Install SSH key
        if: github.ref == 'refs/heads/main'
        env:
          FBS_SSH_KEY: ${{ secrets.FBS_SSH_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$FBS_SSH_KEY" >~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: |
          ssh-keyscan fcos-3.nrec.foreningenbs.no >> ~/.ssh/known_hosts
          rsync -avz --delete --exclude report.json report/dist/ root@fcos-3.nrec.foreningenbs.no:/var/mnt/data/web-1-www/root/energi/
